.outline-view {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
}

.column {
  flex: 1;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: transform 0.3s ease-in-out, flex 0.3s ease-in-out, max-width 0.3s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
}

.column.minified {
  flex: 0.2;
  max-width: 160px;
}

.column h3 {
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #333;
}

.column div {
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.column div:hover {
  background-color: #e0e0e0;
}

.column div.selected {
  background-color: #d0e6ff;
  color: #0056b3;
}

.column:last-child {
  border-right: none;
}

.line-item-details-column div {
  transition: none;
}

.line-item-details-column div:hover {
  background-color: inherit;
}

.line-item-details-column {
  flex: 2;
  max-width: none !important;
  overflow-x: auto;
}

.line-item-details-column .line-items-table {
  min-width: 100%;
  max-width: 100%;
}

.column.minified div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  /* width: 100%; */
} 

.search-input {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.header-with-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-item-input-container {
  display: flex;
  align-items: center;
}

.add-item-form {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.add-item-input {
  margin-bottom: 5px;
}

.add-item-toggle-button {
  margin-left: 10px;
}

.add-toggle-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--success-color);
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s, background-color 0.2s;
  margin-top: 5px;
}

.add-toggle-button.active {
  background-color: var(--danger-color); /* Red color */
}

.add-toggle-button:hover {
  opacity: 0.9;
}

.program-item, .project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px; /* Adjust padding as needed */
    cursor: pointer;
    position: relative;
}

.icon-button {
    background: transparent;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
    opacity: 0; /* Initially hidden */
}

.program-item:hover .icon-button,
.project-item:hover .icon-button {
    opacity: 1; /* Visible on hover */
}

.icon-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.edit-icon {
    color: #333;
    font-size: 16px;
}

.column.minified .category-item,
.column.minified .line-item {
  text-align: left; /* Align text to the left */
  padding: 8px;
  font-weight: normal;
  border: none;
  color: inherit;
}

.program-item, .project-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px; /* Adjust padding as needed */
  cursor: pointer;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.program-item span, .project-item span {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  margin-right: 10px; /* Space between text and button */
}

.icon-button {
  background: transparent;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
  opacity: 0; /* Initially hidden */
}

.program-item:hover .icon-button,
.project-item:hover .icon-button {
  opacity: 1; /* Visible on hover */
}

.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}