.footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  flex-shrink: 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-nav {
  margin-top: 10px;
}

.footer-nav a {
  color: var(--light-color);
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: var(--primary-color);
} 